body {
    @font-face {
        font-family: Vollkorn;
        src: url('VollkornMedium-EaXJ9.otf');
    }
    font-family: Vollkorn;
    font-size: 18px;
}

#result {
    display: table;
    border-collapse: collapse;
    margin: 20px;
}

.row {
    display: table-row;
}

.cell0, .cell1, .cell2 {
    width: 100px;
    height: 30px;
    display: table-cell;
    border: 1px solid #000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

#error {
    color: red;
}